---
name: about
url: /about
---

<div class="grid-block">
	<div class="grid-content">
		<h1>About Zen Spot</h1>
		<hr>
		<p>ZenSpot is all about maximizing your precious time away from the office during the work day. Everyone needs to get away for a few mind clearing minutes, so lets make that time as productive as possible by packing in a delicious lunch and a calm place to collect your thoughts while you eat. </p>

		<p>Every secret lunch spot is linked to a map and a spot overview page, which offers additional features like photos and lunch spot reviews. <a ui-sref="home">Start browsing for your private oasis</a> and find the perfect zen spot near you!</p>
		</p>		
	</div>
</div>
