---
name: add-spots
url: /add-spots
---

<div class="grid-block">
	<div class="grid-content">
		<h1>Add Spots</h1>
		<hr>
		<p>The Secret Centering Spots were all discovered and added by your fellow zen seeking peers! Help out by letting them know of any new ones you 've run across.
		</p>


	<form id = "add">
		<fieldset>
			<legend>Zen Spot </legend>
	<label for = "name">Name: <input type = "text" name = "name"></label>
	<label for= "address">
		<input type = "address" id = "address" name = "address"/></label>
		<label for = "image"> Upload an Image
		<input type = "image" id = "image" name = "image"/></label>
		</fieldset>
	</form>
	</div>
	
</div>
