---
name: trail
url: /trail
---

<div class="grid-block">
  <div class="grid-content">
  	<h1>Hiking Trail</h1>
  	<hr>
  	<p>
  		<img class="show-for-medium" src="assets/img/your-trail.jpg">
 		<style>.embed-container {position: relative; padding-bottom: 80%; height: 0; max-width: 100%;} .embed-container iframe, .embed-container object, .embed-container iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;} small{position: absolute; z-index: 40; bottom: 0; margin-bottom: -15px;}</style><div class="embed-container"><iframe width="500" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" title="ZenSpot" src="http://www.arcgis.com/apps/Embed/index.html?webmap=f2b279e07423400689cb414395d8e70a&amp;extent=-122.4117,37.7901,-122.3977,37.8007&amp;zoom=true&amp;scale=true&amp;search=true&amp;searchextent=true&amp;details=true&amp;legend=true&amp;active_panel=details&amp;basemap_gallery=true&amp;disable_scroll=true&amp;theme=dark"></iframe></div>
  	</p>
  	<p>
			  This rooftop garden is all the way up on the 15th floor — you read that right, the 15th floor. It’s epic. If you walk along the edges of the space there are some incredible views, because, of course, you are 15 floors up. We can’t get over it.

This view of the Transamerica Pyramid from the rooftop garden’s west side is pretty unbeatable.		
  	</p>

    <div zf-action-sheet="">
      <div zf-as-button="" title="Share trail"></div>
      <div zf-as-content="" position="bottom">
        <p>Tap to share</p>
        <ul>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Mail</a></li>
        </ul>
      </div>
    </div>

  	<ul class="no-bullet">
  		<li><strong>Location:</strong> SAN FRANCISCO, CA</li>
   		<li><strong>ZENNFULNESS</strong> 4 OHMS</li>
   		<li><strong>Activities:</strong> Views, Lunch, Shade</li>
      <li>
        <strong>Rating:</strong> 
       <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-warning">
        <img zf-iconic="" icon="star" size="small" class="iconic-color-secondary">
      </li>
  	</ul>

  	<h3 class="float-left">ZenSpot Reviews</h3>
    <a class="button medium success float-right" href="#" zf-open="reviewForm"><img zf-iconic="" icon="comment-square" size="small"> Add Review</a>
  	<hr>

		<div class="card">
			<div class="card-divider">
				Review by <strong>Guil H.</strong>
			</div>
			<div class="card-section">
				<p>This is the best sun, relax, lunch, networking spot around</p>
			</div>
		</div>

  </div>
</div>

<!-- include review form modal -->
<div ng-include="'partials/add-review.html'"></div>






